p {
color: #d8d5ad;
font-family: "comic sans MS", monospace;
font-size: 20px;
}

h1 {
color: #d8d5ad;
}

h3 {
color: #d8d5ad;
margin-bottom: 20px;
}

body {
background-color: #364a69;
}

.my-navbar {
background-color: #263449;
}

.my-navbar .nav-link {
color: #EDEBD5;
font-family:"comic sans MS",monospace;
}

.my-navbar .nav-link:hover {
color: #d8d5ad;
}

.uniform-carousel .carousel-item img {
  max-height: 1000px;
  max-width: 400px;
  object-fit: contain;
  display: flex;
  margin: 0 auto;
  border:solid #263449 2px;
}

.carousel-caption-text {
    color:aliceblue;
    font-family: "comic sans MS", monospace;
    font-size: 20px;
 }

 .carousel-item img:hover {
    border: solid #94C97D 2px;
    } 

.transition-button {
    background-color: #263449;
    color: #EDEBD5;
    width: 80px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Comic Sans MS", monospace;
     } 

    .transition-button:hover {
    background-color: #94C97D;
        } 

    .btn-danger {
    padding: 10px 20px;
    background-color: red;
    font-family: "Comic Sans MS", monospace;
        } 


 .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;

}

.gallery img {
    width: 100%;
    height: auto;
    display: inline-flex;
    border: 1px solid #263449;
}

.gallery img:hover {
border: 2px solid aliceblue;
}

body.page3 {
    background-image: url('../DISDIS.PNG');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    }

body.page3::before {
    content: "";
    position:fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
    }

.content-box {
    position:relative;
    z-index: 1;
  padding:20px;
  margin: 10px auto;
  background-color: #f5f4de;
  border: 2px solid #dfddc0;
  max-width: 700px;
  min-width: 250px;
  min-height: 400px;
  }

.content-box p {
    color:#43556e;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.content-box h3 {
    color:#43556e;
    }

  .box {
  padding:20px;
  margin: 10px auto;
  background-color: #263449;
  border: 2px solid #1c2738;
  font-family: "comic sans MS", monospace;
  text-align: center;
  max-width: 800px;
  }

  .my-card-body {
    margin: 10px auto;
    padding: 20px;
    background-color: #f5f4de;
    color:#1c2738;
}

.card-title {
color:#43556e;
font-family:"comic sans MS", monospace;
}
.card-text {
color:#b5a67f;
}

.my-card-text {
color:#d0cfb2;
font-family:"comic sans MS", monospace;
}

.my-btn {
background-color:#43556e;
border-color:#313f53;
color: aliceblue;
font-family: "comic sans MS", monospace;
}

.my-btn:hover {
background-color: #94C97D;
border-color: #87b872;
}

.center-card {
  margin: 40px auto;
}

    .carousel-inner {
    max-width: 800px;
    max-height: 1000px;
    display: flex;
    object-fit: contain;
    margin: 0 auto;
    }

    .profile-card {
    align-items: center;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f5f4de;
    
    }

    .profile-card .card-text {
    color:#364a69;
        }

form {
      display: flex;
      flex-direction: column;
      max-width: 800px;
    }
    
    label {
      font-weight: bold;
      color: #1c2738;
    }
    
    input[type="text"], input[type="email"] {
      padding: 13px;
      border: 2px solid #202e42;
      background-color: #e9f0fb;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    } 

    .text-box {
  padding:20px;
  margin: 10px auto;
  background-color: #263449;
  border: 2px solid #1c2738;
  font-family: "comic sans MS", monospace;
  text-align: center;
  max-width: 800px;
  }
