p {
      color: #476142;
      font-family: "comic sans", monospace;
    }
    
    body {
      background-color: #FBFCEB;
    }
    
    h1 {
      font-size: 2em;
    }
    h2{
      color:green
       }
    h3{
        color: green
    }
    li{
      color:#476142;
      font-family:"comic sans",monospace;
       }
 .content-box {
  padding:20px;
  margin: 10px;
  background-color: #EAEBCE;
  border: 2px solid #dcddc3;
  }

    table {
      width: 100%;
      border-collapse: collapse;
      font-family: "comic sans", monospace;
    }
    
    th, td {
      border: 1px solid #222E1F;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color:#476142;
    }
form {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    label {
      font-weight: bold;
      color: #476142
    }
    :placeholder-shown{
        font-family:"comic sans", monospace;
        }
    input[type="text"], input[type="email"] {
      padding: 10px;
      border: 2px solid #EAEBCE;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    } 
    .transition-button {
        background-color: lightcoral;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .transition-button:hover {
        background-color: #4CAF50;
      }
      .animation-box{
        width: 150px;
        height: 150px;
        background-image: url('../images/psykokissa.jpg');
        background-size: cover;
        position: relative;
        animation: move 6s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0px;
        }
        to {
          left: 1120px;
        }
      }
      .pseudo-list li:nth-child(odd) {
        background-color: #BDF0B6;
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: #D7FAD2;
      }
      .filter-image {
        filter: grayscale(0%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(100%);
      }
      .quote {
        position: relative;
        padding-left: 40px;
        font-style: italic;
        font-size: 40px
      }
      
      .quote::before {
        content: '“';
        font-size: 50px;
        margin-right: 4px;
        color: green;
         }
    .quote::after {
        content:'”';
        font-size: 50px;
        margin-left: 4px;
        color:green;
      }
      .main-footer {
        position: relative;
        padding-left: 130px;
        top: -50px;
        font-size: 20px;
        font-style: italic;
        margin-top:8px;
          }

    .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .box {
    background-color: #6C9463;
    padding: 40px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-family:"comic sans", monospace;

  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    font-family:"comic sans", monospace;
  }
  .media-query-box {
      padding: 20px;
      text-align: center;
    }
    
    @media (max-width: 600px) {
      .media-query-box {
        background-color: lightcoral;
        font-family:"comic sans",monospace;
      }
    }
    
    @media (min-width: 601px) {
      .media-query-box {
        background-color: rgb(90, 146, 90);
         font-family:"comic sans",monospace;
      }
    }


  .responsive-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .column {
      flex: 1;
      padding: 10px;
    }
    
    @media (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }

    .responsive-image {
      max-width: 100%;
      width: 300px;
      height: auto;
    }

      .responsive-nav .nav-list {
      display: flex;
      list-style: none;
    }

    .responsive-nav .menu-toggle {
      display: none;
    }
    
    @media (max-width: 600px) {
      .responsive-nav .nav-list {
        display: none;
      }
    
      .responsive-nav .menu-toggle {
        display: block;
      }
    }

  