p {
      color: #476142;
    }
    
    body {
      background-color: #FBFCEB;
    }
    
    h1 {
      font-size: 2em;
    }
    h2{
      color:green
       }
    li{
      color:#476142;
       }
 div {
      padding: 20px;
      margin: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #222E1F;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color:#476142;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    } 

    .transition-button {
        background-color: lightblue;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .transition-button:hover {
        background-color: lightcoral;
      }
      .animation-box {
        width: 50px;
        height: 50px;
        background-color: lightgreen;
        position: relative;
        animation: move 2s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 1000px;
        }
      }
