p {
      color: #476142;
    }
    
    body {
      background-color: #FBFCEB;
    }
    
    h1 {
      font-size: 2em;
    }
    h2{
      color:green
       }
    h3{
        color: green
    }
    li{
      color:#476142;
       }
 .content-box {
  padding: 20px;
  margin: 10px;
  background-color: #EAEBCE;
  border: 2px solid #dcddc3;
  }

    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #222E1F;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color:#476142;
    }
form {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 10px;
      border: 2px solid #EAEBCE;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
